.comment-section {
  margin-left: 2rem;
  margin-top: .8rem;
  line-height: 1.5;
}

.comment-section > p {
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-size: .7em;
  color: grey;
  font-weight: bold;
  margin: .5rem 0;
  border-bottom: 1px solid rgba(211, 211, 211, 0.8);
  padding-bottom: 1rem;
}

.comment-section > form {
  position: relative;
  display: flex;
  align-items: center;
}

.comment-section > form > textarea {
  width: 90%;
  border: none;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  outline: none;
}

i.fa-ellipsis-h {
  position: absolute;
  right: 1.5rem;
}
