header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 2.3rem;
}

header i.fa-instagram {
  font-size: 5.4rem;
  border-right: 1px solid #808080;
  padding-right: 3.3rem;
  margin-right: 2.5rem;
}

header h1 {
  font-size: 4.2rem;
  display: inline;
  font-family: 'Oleo Script', cursive;
  vertical-align: top;
}

header input {
  outline: none;
  font-size: 2rem;
  text-align: center;
  padding: .7rem 2rem;
  border-radius: 5px;
  border: 1px solid #454545;
  transition: 250ms;
}

header input:hover {
  background-color: darkgrey;
}

header input:focus {
  background-color: lightgrey;
  color: black;
}

header input:focus::placeholder {
  opacity: 0;
}

header .nav > i {
  font-size: 3.5rem;
  margin-left: 5.5rem;
}

header i:hover {
  cursor: pointer;
}
